# build
/target/
/public
cluster-manager/.m2/

.ipynb_checkpoints

# eclipse
.classpath
.settings/
.project

/bin/
*~
*.pyc
.m2
\#*
_*.yaml
_*.json


models/tf_mnist/runtime/build/
models/sk_mnist/runtime/build/

models/sk_mnist/train/mnist-original.mat
notebooks/proto/prediction_pb2.py
notebooks/proto/prediction_pb2_grpc.py
notebooks/tensorflow
scripts/kubeflow_src
scripts/env.sh
